# Redis Local config
SPRING_REDIS_HOST=localhost
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=your_redis_password

FRONTEND_URL=http://localhost:5173

# Keycloak config
KEYCLOAK_URL=http://localhost:8033
KEYCLOAK_REALM=Your-Realm-Name
KEYCLOAK_CLIENT_ID=your-client-id
KEYCLOAK_CLIENT_SECRET=your-client-secret

# Security config
BLACKLIST_PREFIX=token:blacklist:
ACCESS_TOKEN_LIFESPAN=300
